/* editor-style.css */
body.editor-styles-wrapper {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Estilos para encabezados */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

/* Estilos para párrafos */
p {
    margin-bottom: 1.5em;
}

/* Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Listas */
ul, ol {
    margin-left: 2em;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
}
